e01_src/devconf/11_SCDM_dev/04_imp/xml/server/constraints/aliasvalidator.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<!ELEMENT attribut (classRef+)>
<!ATTLIST attribut
	name CDATA #REQUIRED
	alias (false|true) "false"
>
<!ELEMENT class (attribut+)>
<!ATTLIST class
	name CDATA #REQUIRED
>
<!ELEMENT classRef EMPTY>
<!ATTLIST classRef
	name CDATA #REQUIRED
>
<!ELEMENT root (class+)>
